<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="dadepu-player" packages="">
    <Appenders>
        <RollingFile name="INFO" filePattern="logs/app%d{yyyy-MM-dd-HH}-%i.log" immediateFlush="true">
            <JsonTemplateLayout eventTemplateUri="classpath:LogstashJsonEventLayoutV1.json">
                <EventTemplateAdditionalField key="service_name" value="user_service"/>
            </JsonTemplateLayout>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
            <DirectWriteRolloverStrategy maxFiles="1000"/>
        </RollingFile>

        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d [%t] %-5level %c{1.} - %msg%n%throwable" />
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="de.danielkoellgen.srscsuserservice" level="trace" additivity="false">
            <AppenderRef ref="CONSOLE"/>
            <AppenderRef ref="INFO"/>
<!--            <AppenderRef ref="HR-INFO"/>-->
<!--            <AppenderRef ref="HR-DOMAIN"/>-->
        </Logger>

        <Root level="INFO">
            <AppenderRef ref="CONSOLE"/>
            <AppenderRef ref="INFO"/>
<!--            <AppenderRef ref="HR-INFO"/>-->
        </Root>
    </Loggers>
</Configuration>