<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="dadepu-player" packages="">
    <Appenders>
        <RollingFile name="Domain-Info" fileName="logs/dinfo.log" filePattern="logs/dinfo%i.log">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %15c - %msg%n</Pattern>
            </PatternLayout>
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="1 MB"/>
            </Policies>
            <DefaultRolloverStrategy fileIndex="min" max="5"/>
        </RollingFile>

        <RollingFile name="Domain-Trace" fileName="logs/dtrace.log" filePattern="logs/dtrace%i.log">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %15c - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="1 MB"/>
            </Policies>
            <DefaultRolloverStrategy fileIndex="min" max="5"/>
        </RollingFile>

        <RollingFile name="Info" fileName="logs/info.log" filePattern="logs/info%i.log">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %15c - %msg%n</Pattern>
            </PatternLayout>
<!--            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>-->
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="1 MB"/>
            </Policies>
            <DefaultRolloverStrategy fileIndex="min" max="5"/>
        </RollingFile>

        <RollingFile name="Error" fileName="logs/error.log" filePattern="logs/error%i.log">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %15c - %msg%n</Pattern>
            </PatternLayout>
            <ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="1 MB"/>
            </Policies>
            <DefaultRolloverStrategy fileIndex="min" max="2"/>
        </RollingFile>

        <RollingFile name="Hibernate-SQL" fileName="logs/hibernate-sql.log" filePattern="logs/hibernate-sql%i.log">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %c{1.} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="3 MB"/>
            </Policies>
            <DefaultRolloverStrategy fileIndex="min" max="5"/>
        </RollingFile>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d [%t] %-5level %c{1.} - %msg%n%throwable" />
        </Console>
    </Appenders>

    <Loggers>
        <AsyncLogger name="de.danielkoellgen.srscsuserservice" level="trace" additivity="true">
            <AppenderRef ref="Domain-Info"/>
            <AppenderRef ref="Domain-Trace"/>
        </AsyncLogger>

        <AsyncLogger name="org.hibernate.SQL" level="trace" additivity="false">
            <AppenderRef ref="Hibernate-SQL" />
        </AsyncLogger>

        <AsyncRoot level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="Error"/>
            <AppenderRef ref="Info"/>
        </AsyncRoot>
    </Loggers>
</Configuration>